@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');

form{
    width:50%;
    margin: auto;
    margin-top:100px ;
}
.form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Nunito Sans', sans-serif;
  }
  
  input, textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color :#333;;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  footer{
    margin-top:52px;
  }
  h1{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    text-decoration: underline;
}
  